[
  {
    "modifierFlags" : 917795,
    "order" : 0,
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 15,
    "openSelectedFiles" : true,
    "url" : "\/Clipboard.clipboard",
    "hideIfActive" : false
  },
  {
    "modifierFlags" : 917795,
    "order" : 1,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAADgM0G4gLrW5FyeWlT4T7O\/kbAYk+CjDdXQ\/kxuIyIi\/TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABDYWxlbmRhci5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACAAAAAAgAAAAgAAAAEAwAAtgkAAAIAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwBVP4oAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAsI89LAAAAAgAAAAABAAAQbizKZgAAAAkAAAAAQEAADJFQkVGRTUyLTczN0YtMzU0Ri04MzFFLTVDQkM1NzMyNzVCRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 8,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Calendar.app",
    "hideIfActive" : true
  },
  {
    "modifierFlags" : 917795,
    "order" : 2,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAFIDL5saisdMXqwoL8emxVqTdNOYjnmElNXLtNMGDyANTAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABFdmVybm90ZS5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACAAAAAAgAAAAgAAAAEAwAA0ly4AAIAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwMqwYwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAsI89LAAAAAgAAAAABAAAQbizKZgAAAAkAAAAAQEAADJFQkVGRTUyLTczN0YtMzU0Ri04MzFFLTVDQkM1NzMyNzVCRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 14,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Evernote.app",
    "hideIfActive" : true
  },
  {
    "modifierFlags" : 917795,
    "order" : 3,
    "bookmark" : "Ym9va3wCAAAAAAQQMAAAAOYkCb+sDAgsPJc2Wf4dDJpecLT7s3mi1PusYwalIETknAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMKAAAAAQEAAEZpbmRlci5hcHAAABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgAAAAEAwAAwkwCAAIAAAAIAAAABAMAAMRMAgACAAAACAAAAAQDAAATjwMAAgAAAAgAAAAEAwAAqe4DAAIAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQAAEHAE9fdgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACwjz0sAAAACAAAAAAEAABBuLMpmAAAACQAAAABAQAAMkVCRUZFNTItNzM3Ri0zNTRGLTgzMUUtNUNCQzU3MzI3NUJGGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFgAAAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAIgBAAAAAAAABSAAAPgAAAAAAAAAECAAAAgBAAAAAAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAAMCAAAJQBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 3,
    "openSelectedFiles" : true,
    "url" : "\/System\/Library\/CoreServices\/Finder.app",
    "hideIfActive" : true
  },
  {
    "modifierFlags" : 917795,
    "order" : 4,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAACQohOZZ1\/S0zNDfS5xSO43ddJwOkOKFn27HqDJSxTpoTAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACAAAAAAgAAAAgAAAAEAwAAu37PAAIAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwNVuwAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAsI89LAAAAAgAAAAABAAAQbizKZgAAAAkAAAAAQEAADJFQkVGRTUyLTczN0YtMzU0Ri04MzFFLTVDQkM1NzMyNzVCRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 34,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/iTerm.app",
    "hideIfActive" : true
  },
  {
    "modifierFlags" : 917795,
    "order" : 5,
    "bookmark" : "Ym9vaygCAAAAAAQQMAAAAJlUv\/ejPAcqo0iMwBqP83NwFAcDBp983B5KFfV72QYESAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCAAAAAEBAABNYWlsLmFwcAgAAAABBgAAEAAAACQAAAAIAAAABAMAAIAAAAACAAAACAAAAAQDAACMXQAAAgAAAAgAAAABBgAARAAAAFQAAAAIAAAAAAQAAEHAJSEpgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACwjz0sAAAACAAAAAAEAABBuLMpmAAAACQAAAABAQAAMkVCRUZFNTItNzM3Ri0zNTRGLTgzMUUtNUNCQzU3MzI3NUJGGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAAAIQAAAAAAAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAABSAAAKQAAAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAAAAAAEiAAAMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAAMCAAAEABAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 46,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Mail.app",
    "hideIfActive" : true
  },
  {
    "modifierFlags" : 917795,
    "order" : 6,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAOI6T4AdT9NIrGou5HrTcAd2khae5K3r2noXtcH6FJJrTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABTYWZhcmkuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACAAAAAAgAAAAgAAAAEAwAAapdhAAIAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwGpgYIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAsI89LAAAAAgAAAAABAAAQbizKZgAAAAkAAAAAQEAADJFQkVGRTUyLTczN0YtMzU0Ri04MzFFLTVDQkM1NzMyNzVCRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 1,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Safari.app",
    "hideIfActive" : true
  },
  {
    "modifierFlags" : 917795,
    "order" : 7,
    "bookmark" : "Ym9vaygCAAAAAAQQMAAAAH3\/UKkgQbD6j8qEwnliCEGQqOZmrVfG55Hu4IKzTfslSAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zCAAAAAEBAABMSU5FLmFwcAgAAAABBgAAEAAAACQAAAAIAAAABAMAAIAAAAACAAAACAAAAAQDAADpQLYAAgAAAAgAAAABBgAARAAAAFQAAAAIAAAAAAQAAEHA0gRqgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACwjz0sAAAACAAAAAAEAABBuLMpmAAAACQAAAABAQAAMkVCRUZFNTItNzM3Ri0zNTRGLTgzMUUtNUNCQzU3MzI3NUJGGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAAAIQAAAAAAAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAABSAAAKQAAAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAAAAAAEiAAAMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAAMCAAAEABAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 7,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/LINE.app",
    "hideIfActive" : true
  },
  {
    "modifierFlags" : 0,
    "order" : 8,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAK\/a4NkH25iS1lq4uyPywkRfAP7M\/UykKyhz9rLDgJUITAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACAAAAAAgAAAAgAAAAEAwAAc1yQAAIAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwK5DcwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAsI89LAAAAAgAAAAABAAAQbizKZgAAAAkAAAAAQEAADJFQkVGRTUyLTczN0YtMzU0Ri04MzFFLTVDQkM1NzMyNzVCRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 0,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Slack.app",
    "hideIfActive" : false
  },
  {
    "modifierFlags" : 917795,
    "order" : 9,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAMmChWVLI4y84N0YGe\/zwqOKocXnUBXnRNiqANDlZ87LTAEAAAQAAAADAwAAAAgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABIYWt1bWFpLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACAAAAAAgAAAAgAAAAEAwAAo\/LmAAIAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwMaeugAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAsI89LAAAAAgAAAAABAAAQbizKZgAAAAkAAAAAQEAADJFQkVGRTUyLTczN0YtMzU0Ri04MzFFLTVDQkM1NzMyNzVCRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "enabled" : true,
    "keyCode" : 45,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Hakumai.app",
    "hideIfActive" : true
  }
]